/* Pretendard */

/* Thin (100) */
@font-face {
font-family: 'Pretendard-Thin';
src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Thin.woff2') format('woff2'),
url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Thin.woff') format('woff');
font-weight: 100;
font-style: normal;
font-display: swap;
}

/* ExtraLight (200) */
@font-face {
font-family: 'Pretendard-ExtraLight';
src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-ExtraLight.woff2') format('woff2'),
url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-ExtraLight.woff') format('woff');
font-weight: 200;
font-style: normal;
font-display: swap;
}

/* Light (300) */
@font-face {
font-family: 'Pretendard-Light';
src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Light.woff2') format('woff2'),
url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Light.woff') format('woff');
font-weight: 300;
font-style: normal;
font-display: swap;
}



@font-face {
font-family: 'Pretendard-Regular';
src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Regular.woff2') format('woff2'),
url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Regular.woff') format('woff');
font-weight: 400;
font-style: normal;
font-display: swap;
}


@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}


@font-face {
font-family: 'Pretendard-Bold';
src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Bold.woff2') format('woff2'),
url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Bold.woff') format('woff');
font-weight: 700;
font-style: normal;
font-display: swap;
}


@font-face {
font-family: 'Pretendard-SemiBold';
src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-SemiBold.woff2') format('woff2'),
url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-SemiBold.woff') format('woff');
font-weight: 600;
font-style: normal;
font-display: swap;
}



@font-face {
font-family: 'Pretendard-Black';
font-weight: 900;
font-style: normal;
font-display: swap;
src: url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Black.woff2') format('woff2'),
url('https://cdn.jsdelivr.net/gh/fonts-archive/Pretendard/Pretendard-Black.woff') format('woff');

}

/* GMarketSans */
@font-face {
font-family: 'GMarketSans';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
font-weight: 300;
font-display: swap;
}

@font-face {
font-family: 'GMarketSans';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
font-weight: 500;
font-display: swap;
}

@font-face {
font-family: 'GMarketSans';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
font-weight: 700;
font-display: swap;
}


/* SBAggro */

@font-face {
font-family: 'SBAggroB';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Aggravo';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroL.woff') format('woff');
font-weight: 300;
font-display: swap;
}

@font-face {
font-family: 'Aggravo';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroM.woff') format('woff');
font-weight: 500;
font-display: swap;
}

@font-face {
font-family: 'Aggravo';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
font-weight: 700;
font-display: swap;
}



/* SpoqaHanSansNeo */
@font-face {
font-family: 'SpoqaHanSansNeo-Regular';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}



/* JalnanGothic */
@font-face {
font-family: 'JalnanGothic';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}


/* PTAnboR */
@font-face {
font-family: 'PTAnboR';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/PTAnboR.woff2') format('woff2');
font-weight: normal;
font-style: normal;
font-display: swap;
}


/* Cafe24Ohsquare */
@font-face {
font-family: 'Cafe24Ohsquare';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}


/* WAGURITTF */
@font-face {
font-family: 'WAGURITTF';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2') format('woff2');
font-weight: normal;
font-style: normal;
font-display: swap;
}


/* TTHakgyoansimJiugaeR */
@font-face {
font-family: 'TTHakgyoansimJiugaeR';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimJiugaeR.woff2') format('woff2');
font-weight: normal;
font-style: normal;
font-display: swap;
}


/* MaruBuri */
@font-face {
font-family: 'MaruBuri';
src: url('https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot');
src: url('https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.eot?#iefix') format("embedded-opentype"),
url('https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff2') format("woff2"),
url('https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.woff') format("woff"),
url('https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-Regular.ttf') format("truetype");
font-display: swap;
}

/* TAEBAEKfont */
@font-face {
font-family: 'TAEBAEKfont';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/TAEBAEKfont.woff2') format('woff2');
font-weight: normal;
font-style: normal;
font-display: swap;
}


/* S-CoreDream */

@font-face {
font-family: 'S-CoreDream';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
font-weight: 300;
font-style: normal;
font-display: swap;
}



@font-face {
font-family: 'S-CoreDream';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
font-weight: 400;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'S-CoreDream';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
font-weight: 500;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'S-CoreDream';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff');
font-weight: 600;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'S-CoreDream';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-7ExtraBold.woff') format('woff');
font-weight: 700;
font-style: normal;
font-display: swap;
}


/* Cafe24Danjunghae */
@font-face {
font-family: 'Cafe24Danjunghae';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}


/* Giants' */
@font-face {
font-family: 'Giants-Bold';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Bold.woff2') format('woff2');
font-weight: 700;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'Giants-Regular';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Regular.woff2') format('woff2');
font-weight: 400;
font-style: normal;
}



/* KOHIBaeumOTF' */
@font-face {
font-family: 'KOHIBaeumOTF';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}


/* ROKABold' */
@font-face {
font-family: 'ROKABold';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.1/ROKABold.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}



/* RiaSans-ExtraBold */
@font-face {
font-family: 'RiaSans-ExtraBold';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/RiaSans-ExtraBold.woff2') format('woff2');
font-weight: normal;
font-style: normal;
font-display: swap;
}


/* MBC1961GulimM */
@font-face {
font-family: 'MBC1961GulimM';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
font-weight: normal;
font-style: normal;
font-display: swap;
}


/* ONE-Mobile */
@font-face {
font-family: 'ONE-Mobile-Regular';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'ONE-Mobile-Title';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Title.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}



/* KOTRA_BOLD */
@font-face {
font-family: 'KOTRA_BOLD-Bold';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}


/* TmonMonsori */
@font-face {
font-family: 'TmonMonsori';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}



/* HakgyoansimAllimjangTTF */
@font-face {
font-family: 'SchoolSafetyNotification';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimAllimjangTTF-R.woff2') format('woff2');
font-weight: 400;
font-display: swap;
}

@font-face {
font-family: 'SchoolSafetyNotification';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-5@1.0/HakgyoansimAllimjangTTF-B.woff2') format('woff2');
font-weight: 700;
font-display: swap;
}



/* SEBANG_Gothic_Bold */
@font-face {
    font-family: 'SebangGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SebangGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
font-family: 'SEBANG_Gothic_Bold';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}


/* yg-jalnan */
@font-face {
font-family: 'yg-jalnan';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}

/* GangwonEduPowerExtraBoldA */
@font-face {
font-family: 'GangwonEduPowerExtraBoldA';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}


/* Godo */
@font-face {
    font-family: 'Godo';
    src: url('fonts/GodoM.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Godo';
    src: url('fonts/GodoB.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}






/* Paperlogy */
@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-1Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-2ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-3Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-4Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-6SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-9Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}


/* Juache */
@font-face {
font-family: 'Juache';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
font-weight: normal;
font-display: swap;
}


/* Pyeongchang */

@font-face {
font-family: 'Pyeongchang';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Regular.woff2') format('woff2');
font-weight: normal;
font-display: swap;
}

@font-face {
font-family: 'Pyeongchang';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChang-Bold.woff2') format('woff2');
font-weight: 700;
font-display: swap;
}





/* PyeongtaekSunset */

@font-face {
font-family: 'PyeongtaekSunset';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408@1.0/PTNoeulL.woff2') format('woff2');
font-weight: 300;
font-display: swap;
}

@font-face {
font-family: 'PyeongtaekSunset';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408@1.0/PTNoeulB.woff2') format('woff2');
font-weight: 700;
font-display: swap;
}




/* LeeSunSinDotum */
@font-face {
font-family: 'LeeSunSinDotum';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff');
font-weight: normal;
font-display: swap;
}

/* GowoonDodum */

@font-face {
font-family: 'GowoonDodum';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
font-weight: normal;
font-display: swap;
}

/* Euljiro */
@font-face {
font-family: 'Euljiro';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
font-weight: normal;
font-display: swap;
}


/* Cafe24Gowoonbam */
@font-face {
font-family: 'Cafe24Gowoonbam';
src:  url("https://db.onlinewebfonts.com/t/0c124b4702c8886c14c61efad64989de.woff2") format("woff2"),
url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
font-weight: normal;
font-display: swap;
}


/* SuseongDotum */
@font-face {
    font-family: 'SuseongDotum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/SuseongDotum.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}


/* SsallakNun */
@font-face {
    font-family: 'SsallakNun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HailSnow.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

/* SourceHanSerif */

@font-face {
  font-family: 'SourceHanSerif';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src:  url('fonts/NotoSerifKR.woff') format('woff'),
  
  
  
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&amp;display=swap');


/* AliceDigitalLearning */
@font-face {
    font-family: 'AliceDigitalLearning';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AliceDigitalLearning';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_elice@1.0/EliceDigitalBaeum-Bd.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}


/* Cafe24Anemone */

@font-face {
    font-family: 'Cafe24Anemone';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cafe24AnemoneAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/Cafe24Ohsquareair.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

/* Taenada */

@font-face {
    font-family: 'Taenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

/* PyeongtaekSemiconductor */

@font-face {
    font-family: 'PyeongtaekSemiconductor';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408@1.0/PTBandocheR.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'PyeongtaekSemiconductor';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408@1.0/PTBandocheB.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}


/* PuradakGentleGothic */

@font-face {
    font-family: 'PuradakGentleGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.1/PuradakGentleGothicR.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}




/* ELandChoice */

@font-face {
    font-family: 'ELandChoice';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_L.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'ELandChoice';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_M.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'ELandChoice';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/ELAND_Choice_B.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}





/* Mujeokhaebeong */

@font-face {
    font-family: 'Mujeokhaebeong';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2502-1@1.0/MarinesRegular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Mujeokhaebeong';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2502-1@1.0/MarinesBold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}


@font-face {
    font-family: 'Cafe24ShiningStar';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}


@font-face {
    font-family: 'KccSonGigeong';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KCC-Sonkeechung.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

/* 엘리스 DX널리체 */
/* font-family: 'Elice DX Neolli'; */
/* <link rel="stylesheet" href="https://font.elice.io/css?family=Elice+DX+Neolli"> */
@import url('https://font.elice.io/css?family=Elice+DX+Neolli');
